@using SKBKontur.Treller.WebApplication.Controllers
@using SKBKontur.Infrastructure.CommonExtenssions
@using System.Linq
@model SKBKontur.Treller.WebApplication.Controllers.RoundDanceViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]><html class="ie ie-lt7 ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 8]><html class="ie ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 9]><html class="ie ie-lt9"><![endif]-->
<!--[if gt IE 8]><html class="ie"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Хороводчество</title>
    <meta name="robots" content="noindex, nofollow" />
    
    <style type="text/css">
        .tablerow td, th {
            padding: 5px 10px 5px;
        }

        .tablerow th {
            padding-top: 20px;
        }

        .tablerow2 { font-weight: bold; }
    </style>
</head>
<body>
    <div>
        <table class ="tablerow">
            @foreach (var pair in Model.DirectionPeoples)
            {
                <tr>
                    <th>@pair.Key.GetEnumDescription()</th>
                    <th>Вес</th>
                    <th>Куда ротироваться?</th>
                    <th>Биллинг</th>
                    <th>УЦ</th>
                    <th>ТП</th>
                    <th>CRM</th>
@*                    <th>Инфраструктура</th>*@
                </tr>
                var rotationWeight = pair.Value.First().CurrentWeight.Weight;
                var maxRotationPeoplesWeight = pair.Value.ToDictionary(x => x.People.Name, t => t.DirectionWeights.Select(x => x.Value.RotationWeight).Max());
            
                foreach (var people in pair.Value)
                {
                    <tr>
                        <td class=@(rotationWeight == people.CurrentWeight.Weight ? "tablerow2" : "tablerow")>@people.People.Name</td>
                        <td class=@(rotationWeight == people.CurrentWeight.Weight ? "tablerow2" : "tablerow")>@people.CurrentWeight.Weight</td>
                        <td>Необходимость ротации в:</td>
                        
                        <td class=@(maxRotationPeoplesWeight[people.People.Name] == people.DirectionWeights[Direction.ProductBilling].RotationWeight ? "tablerow2" : "tablerow")>@people.DirectionWeights[Direction.ProductBilling].RotationWeight</td>
                        <td class=@(maxRotationPeoplesWeight[people.People.Name] == people.DirectionWeights[Direction.СaServices].RotationWeight ? "tablerow2" : "tablerow")>@people.DirectionWeights[Direction.СaServices].RotationWeight</td>
                        <td class=@(maxRotationPeoplesWeight[people.People.Name] == people.DirectionWeights[Direction.Support].RotationWeight ? "tablerow2" : "tablerow")>@people.DirectionWeights[Direction.Support].RotationWeight</td>
                        <td class=@(maxRotationPeoplesWeight[people.People.Name] == people.DirectionWeights[Direction.Crm].RotationWeight ? "tablerow2" : "tablerow")>@people.DirectionWeights[Direction.Crm].RotationWeight</td>
@*                        <td>@people.DirectionWeights[Direction.Infrastructure].RotationWeight</td>*@
                    </tr>
                }
            }
        </table>
    </div>
</body>
@Html.Raw("</html>")
