@using System.Linq
@using SKBKontur.Treller.WebApplication.Implementation.RoundDance.BusinessObjects
@model RoundDanceViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]><html class="ie ie-lt7 ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 8]><html class="ie ie-lt8 ie-lt9"><![endif]-->
<!--[if lt IE 9]><html class="ie ie-lt9"><![endif]-->
<!--[if gt IE 8]><html class="ie"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Хороводчество</title>
    <meta name="robots" content="noindex, nofollow" />
    
    <style type="text/css">
        .tablerow td, th {
            padding: 5px 10px 5px;
        }

        .tablerow th {
            padding-top: 20px;
        }

        .tablerow2 { font-weight: bold; }
        .tablerow3 {
            color: #6abf3d;
            font-weight: bold;
        }

        .tablerow4 {
            color: #ff6a00;
            font-weight: bold;
        }

        .pair {
            border-bottom: 1px dashed; 
        }
    </style>
</head>
<body>
    <div>
        <h2>Текущие направления:</h2>
        <table class="tablerow">
            @foreach (var pair in Model.PeoplesByDirections)
            {
                <tr>
                    <th>@pair.Key</th>
                    <th>Вес</th>
                    <th>Вес, куда ротироваться</th>

                    <th>Шустрые задачи</th>
                    <th>Инфраструктура</th>
                    <th>Дежурство</th>
                    <th>FeatureTeam</th>
                </tr>

                foreach (var people in pair.Value)
                {
                    <tr>
                        @using (Html.BeginForm("AddRoundDance", "RoundDance", FormMethod.Post))
                        {
                            <td>@people.Name @Html.Hidden("name", @people.Name)</td>
                            <td>@people.CurrentWeight</td>
                            <td></td>

                            <td>@people.SpeedyWeight</td>
                            <td>@people.InfrastructureWeight</td>
                            <td>@people.DutyWeight</td>
                            <td>@people.FeatureWeight</td>
                            <td>@Html.DropDownList("direction", Model.AllActualDirections.Select(x => new SelectListItem { Value = x, Selected = true, Text = x }))</td>
                            <td>@Html.TextBox("beginDate", DateTime.Now.AddDays(1).ToString("dd.MM.yyyy"), new {title = "Начало хоровода", @class = "news_actualize_text_area"})</td>
@*                            <td>@Html.TextBox("pairName", "", new {title = "Фамилия, с кем в паре", @class = "news_actualize_text_area"})</td>*@
                            <td><input type="submit" value="Хороводить!" class="news__button news_actualize_button"/></td>
                        }
                    </tr>
                }
            }
            <tr>
                <th></th>
                <th></th>
                <th>Имя новичка</th>
                <th>Почта для дежурства</th>
                <th>Направление</th>
                <th>С кем в паре?</th>
            </tr>
            <tr>
                @using (Html.BeginForm("AddRoundDance", "RoundDance", FormMethod.Post))
                {
                    <td></td>
                    <td></td>
                    <td>@Html.TextBox("name", "")</td>
                    <td>@Html.TextBox("email", "")</td>
                    <td>@Html.DropDownList("direction", Model.AllActualDirections.Select(x => new SelectListItem {Value = x, Selected = true, Text = x}))</td>
                    <td>@Html.TextBox("pairName", "", new {title = "Фамилия, с кем в паре", @class = "news_actualize_text_area"})</td>
                    <td><input type="submit" value="Добавить в хороводы" class="news__button news_actualize_button"/></td>
                }
            </tr>
        </table>

        @if (Model.OldRoundDances.Any())
        {
            <h2>Недавно отхороводились:</h2>
            <table class="tablerow">
                <tr>
                    <th>Кто</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Когда</th>
                </tr>

                @foreach (var people in Model.OldRoundDances.OrderByDescending(x => x.RoundDanceDate))
                {
                    <tr>
                        <td>@people.Name</td>
                        <td>@people.OldDirection</td>
                        <td>@people.FutureDirection</td>
                        <td>@people.When</td>
                    </tr>
                }
            </table>
        }

        <h2>Ближайшие хороводы:</h2>
        <table class="tablerow">
            <tr>
                <th>Кто</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Когда</th>
            </tr>

            @foreach (var suggest in Model.FutureRoundDances.OrderBy(x => x.RoundDanceDate))
            {
                using (Html.BeginForm("RemoveFromNextRoundDance", "RoundDance", FormMethod.Post))
                {
                    <tr>
                        <td>@suggest.Name @Html.Hidden("name", suggest.Name)</td>
                        <td>@suggest.OldDirection</td>
                        <td>@suggest.FutureDirection @Html.Hidden("direction", suggest.FutureDirection)</td>
                        <td>@suggest.When @Html.Hidden("beginDate", suggest.RoundDanceDate.ToString("dd.MM.yyyy"))</td>
                        <td><input type="submit" value="Отменить!" class="news__button news_actualize_button" /></td>
                    </tr>
                }
            }
        </table>
</div>
</body>
@Html.Raw("</html>")
