@using WebApplication.Implementation.Infrastructure.Extensions
@model ProcessStats.Dev.CardStatsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>@Model.CardId</div>
    <div>@Model.AnaliticsDuration.Stringify()</div>
    <div>@Model.DevDuration.Stringify()</div>
    <div>@Model.ReviewDuration.Stringify()</div>
    <div>@Model.TestingDuration.Stringify()</div>
    <div>@Model.CycleTime.Stringify()</div>
</div>