@using SKBKontur.Treller.WebApplication.Implementation.Infrastructure.Extensions
@model SKBKontur.Treller.WebApplication.Implementation.TaskDetalization.BusinessObjects.Blocks.Parts.BasePartTaskDetalizationBlock

@if (Model == null || !Model.IsExists)
{
    return;
}

<section class="task-info-block">
    @if (Model.IsCurrent)
    {
        <span title="Текущая стадия" class="fa fa-bolt task-info-block-state text-success"></span>
    }
    
    <header class="task-info-block-header clearfix">
        <h4 class="task-info-block-title">@Model.BlockDisclamer</h4>
        
        <div class="task-info-block-status">
            @Html.Partial("Partial/Parrots", Model.CartParrots)
            <span style="margin-left: 10px;">
                @Model.PartBeginDate.SafeDateFormat()
                @if (Model.PartEndDate.HasValue) { <span class="fa fa-minus" style="font-size: .7em"></span> }
                @Model.PartEndDate.SafeDateFormat()
            </span>
        </div>
    </header>

    <div class="task-info-block-content @(Model.IsCurrent ? "active" : string.Empty)">
        @Html.DisplayForModel()
    </div>
</section>