@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.Parts.BasePartTaskDetalizationBlock

@if (Model == null || !Model.IsExists)
{
    return;
}

<div>
    @if (Model.IsCurrent)
    {
        <span title="Текущая стадия" class="fa fa-bolt" style="color: green;  margin-right: 7px;"></span>   
    }

    <h4 style="">@Model.BlockDisclamer</h4>
    
    @Html.Partial("Partial/Parrots", Model.CartParrots)

    <div style="display: inline-block; font-weight: bold; font-size: 16px;">
        @if (Model.PartBeginDate.HasValue)
        {
            @Model.PartBeginDate.Value.ToString("dd.MM.yyyy")
            <span title="Начало этапа" class="fa fa-calendar-o" style="color: green; margin-right: 7px;"></span>
        }
        @if (Model.PartEndDate.HasValue)
        {
            @Model.PartEndDate.Value.ToString("dd.MM.yyyy")
            <span title="Окончание этапа" class="fa fa-calendar" style="color: green;  margin-right: 7px;"></span>   
        }
    </div>

    @Html.DisplayForModel()
</div>