@using SKBKontur.Treller.WebApplication.Implementation.Infrastructure.Extensions
@model SKBKontur.Treller.WebApplication.Implementation.Repository.OldBranchesModel

@{
    ViewBag.Title = "Репозиторий Контур.Биллинг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Репозиторий Контур.Биллинг</h2>
<h3>Всего веток в репозитори @Model.TotalNumber</h3>

@if (Model.OldBracnhes.Length == 0)
{
    <h3>У нас только свежиек ветки в репозитории!</h3>
}
else
{
    <h3>Старенькие ветки</h3>

    <table style="font-size: 18px; padding-right: 10px;">
        <tr>
            <th>Имя ветки</th>
            <th style="padding-left: 10px;">Дата последнего коммита</th>
            <th style="padding-left: 10px;">Последний коммитер</th>
        </tr>
        @foreach (var oldBranch in Model.OldBracnhes)
        {
            <tr>
                <td>@oldBranch.Name</td>
                <td style="padding-left: 10px;">@oldBranch.Commit.Committed_date.DateTimeFormat()</td>
                <td style="padding-left: 10px;">@oldBranch.Commit.Committer_email</td>
            </tr>
        }
    </table>
}

@if (Model.ReleasedBranches.Length > 0)
{
    <h3>Ветки влитые в релиз, но не удаленные</h3>

    <table style="font-size: 18px; padding-right: 10px;">
        <tr>
            <th>Имя ветки</th>
            <th style="padding-left: 10px;">Дата последнего коммита</th>
            <th style="padding-left: 10px;">Последний коммитер</th>
        </tr>
        @foreach (var releasedBranch in Model.ReleasedBranches)
        {
            <tr>
                <td>@releasedBranch.Name</td>
                <td style="padding-left: 10px;">@releasedBranch.LastCommit.Created_at.DateTimeFormat()</td>
                <td style="padding-left: 10px;">@releasedBranch.LastCommit.Author_email</td>
            </tr>
        }
    </table>
}

@if (Model.MergedToRC.Length > 0)
{
    <h3>Ветки влитые в RC</h3>

    <div>@string.Join(",", Model.MergedToRC.Select(x => x.Name))</div>
}