@using SKBKontur.Treller.WebApplication.Implementation.Infrastructure.Extensions
@model SKBKontur.Treller.WebApplication.Implementation.Repository.OldBranchesModel

@{
    ViewBag.Title = "Репозиторий Контур.Биллинг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Репозиторий Контур.Биллинг</h2>
<h3>Всего веток в репозитори @Model.TotalNumber</h3>

@if (Model.OldBracnhes.Length == 0)
{
    <h4>У нас только свежиек ветки в репозитории!</h4>
}
else
{
    <h4>Старенькие ветки</h4>

    <table style="font-size: 18px; padding-right: 10px;">
        <tr>
            <th>Имя ветки</th>
            <th style="padding-left: 10px;">Дата последнего коммита</th>
            <th style="padding-left: 10px;">Последний коммитер</th>
        </tr>
        @foreach (var oldBranch in Model.OldBracnhes)
        {
            <tr>
                <td>@oldBranch.Name</td>
                <td style="padding-left: 10px;">@oldBranch.Commit.Committed_date.DateTimeFormat()</td>
                <td style="padding-left: 10px;">@oldBranch.Commit.Committer_email</td>
            </tr>
        }
    </table>
}

@if (Model.MergedBranches.Length > 0)
{
    <h4>Ветки влитые в релиз, но не удаленные</h4>

    <table style="font-size: 18px; padding-right: 10px;">
        <tr>
            <th>Имя ветки</th>
            <th style="padding-left: 10px;">Дата последнего коммита</th>
            <th style="padding-left: 10px;">Последний коммитер</th>
        </tr>
        @foreach (var mergedBranch in Model.MergedBranches)
        {
            <tr>
                <td>@mergedBranch.Name</td>
                <td style="padding-left: 10px;">@mergedBranch.Commit.Committed_date.DateTimeFormat()</td>
                <td style="padding-left: 10px;">@mergedBranch.Commit.Committer_email</td>
            </tr>
        }
    </table>
}