@using SKBKontur.Treller.WebApplication.Implementation.Infrastructure.Extensions
@model SKBKontur.Treller.WebApplication.Implementation.Repository.OldBranchesModel

@{
    ViewBag.Title = "Репозиторий Контур.Биллинг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Репозиторий Контур.Биллинг</h2>
<h3>Всего веток в репозитори @Model.TotalNumber</h3>

@if (Model.OldBracnhes.Length == 0)
{
    <h4>У нас только свежиек ветки в репозитории!</h4>
}
else
{
    <h4>Старенькие ветки (последний коммит 30-60 дней назад)</h4>

    <table style="font-size: 18px; padding-right: 10px;">
        <tr>
            <th>Имя ветки</th>
            <th>Дата последнего коммита</th>
            <th>Последний коммитер</th>
        </tr>
        @foreach (var oldBranch in Model.OldBracnhes)
        {
            <tr>
                <td>@oldBranch.Name</td>
                <td style="padding-left: 10px;">@oldBranch.Commit.Committed_date.DateTimeFormat()</td>
                <td style="padding-left: 10px;">@oldBranch.Commit.Committer_email</td>
            </tr>
        }
    </table>

    if (Model.VeryOldBracnhes.Length > 0)
    {
        <h4>Очень старенькие ветки (последний коммит более 60 дней назад)</h4>

        <table style="font-size: 18px; padding-right: 10px;">
            <tr>
                <th>Имя ветки</th>
                <th>Дата последнего коммита</th>
                <th>Последний коммитер</th>
            </tr>
            @foreach (var veryOldBranch in Model.VeryOldBracnhes)
            {
                <tr>
                    <td>@veryOldBranch.Name</td>
                    <td style="padding-left: 10px;">@veryOldBranch.Commit.Committed_date.DateTimeFormat()</td>
                    <td style="padding-left: 10px;">@veryOldBranch.Commit.Committer_email</td>
                </tr>
            }
        </table>
    }
}