@model SKBKontur.Treller.WebApplication.Blocks.TaskList.Blocks.BugsBlock

<h3>
    Информация по багам:
    <br/>
    Боевые инциденты: всего @Model.BattleBugsCount, неназначенных: @Model.BattleBugsUnassignedCount
    <br/>
    Billy баги всего: @Model.OverallBillyBugsCount, на текущей версии: @Model.CurrentBillyBugsCount
    <br/>
    CS баги всего: @Model.CurrentCSBugsCount
</h3>
