@using SKBKontur.Infrastructure.CommonExtenssions
@model SKBKontur.Treller.WebApplication.Blocks.TaskList.Blocks.CardListBlock

@foreach (var stateCards in Model.OverallStateCards)
{
    <div class="task-block-group">
        <div class="task-block-group-header">
            <h3 class="task-block-group-title">@stateCards.State.GetEnumDescription()</h3>

            <div class="task-block-group-legend">
                <span class="parrots-info-action"  title="Количество">
                    @stateCards.TotalCardsCount
                    <span class="fa fa-tasks text-success"></span>
                </span>
        
                @if (stateCards.NewCardsCount > 0)
                {
                    <span class="parrots-info-action"  title="Новые карточки за сегодня">
                        @stateCards.NewCardsCount
                        <span class="fa fa-lightbulb-o text-success"></span>
                    </span>
                }
            
                @if (stateCards.FinishingCardsCount > 0)
                {
                    <span class="parrots-info-action"  title="Близки к завершению">
                        @stateCards.FinishingCardsCount
                        <span class="fa fa-check-square-o text-success"></span>
                    </span>
                }
            </div>
        </div>

        <div class="task-block-group-body">
            @Html.DisplayFor(x => stateCards.Cards)
        </div>
    </div>
}