@model SKBKontur.Treller.WebApplication.Blocks.TaskList.ViewModels.CardListItemViewModel

<section class="task-list-block">
    @Html.Partial("Partial/CardProgressInfoViewModel", Model.StageInfo.Parrots.ProgressInfo)
    
    <header class="task-block-header">
        <a href="@Model.CardUrl" class="fa fa-trello" title="посмотреть в Trello" target="_blank"></a>

        @Html.ActionLink(Model.CardName, "TaskInfo", "TaskInfo", new RouteValueDictionary{{"cardId", Model.CardId}}, new Dictionary<string, object>
        {
            {"class", "colorbox-link"},
        })
    </header>
    
    <div class="task-block-content">
        @Html.Partial("Partial/Parrots", Model.StageInfo.Parrots)
        
        @if (Model.Avatars != null && Model.Avatars.Length > 0)
        {
            <div class="clearfix task-block-members-list">
                <span></span>
                @Html.DisplayFor(m => m.Avatars)
            </div>
        }
    </div>
    
    @if (Model.Labels != null && Model.Labels.Length > 0)
    {
        <div class="task-block-label-list">
            @Html.DisplayFor(m => m.Labels)
        </div>
    }
</section>
