@using SKBKontur.Treller.WebApplication.Extensions
@model SKBKontur.Treller.WebApplication.Blocks.TaskList.ViewModels.CardListItemViewModel

<div class="task-list-block">
    @Html.Partial("Partial/CardProgressInfoViewModel", Model.StageInfo.Parrots.ProgressInfo)
    
    <header class="task-block-header">
        <a href="@Model.CardUrl" class="fa fa-trello" title="посмотреть в Trello" target="_blank"></a>

        @Html.ActionLink(Model.CardName, "TaskInfo", "TaskInfo", new RouteValueDictionary{{"cardId", Model.CardId}}, new Dictionary<string, object>
        {
            {"class", "colorbox-link"},
        })
        
        @foreach (var avatar in Model.Avatars)
        {
            <img src="@avatar.AvatarSrc" title="@avatar.UserFullName" />
        }
    </header>
    
    @Html.Partial("Partial/CardStageInfo", Model.StageInfo)
    
    <div class="task-block-label-list">
        @foreach (var label in Model.Labels)
        {
            <span class="task-block-label card-label @label.Color.ToLowerString()" title="@label.Name"></span>
        }    
    </div>
</div>