<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/layout")
    @RenderSection("Header", false)

    @Scripts.Render("~/bundles/modernizr")
</head>
    <body class="layout-body">
        <header class="layout-header">
            <h1 class="layout-title">@ViewBag.Title</h1>
            
            @RenderSection("LayoutHeader", false)
        </header>

        @RenderBody()

        @Scripts.Render("~/bundles/base-libraries")
        @RenderSection("FooterScripts", false)
    
        <script>
            $(function () {
                $(".colorbox-link").colorbox({
                    iframe: false,
                    scrolling: false,
                    returnFocus: false,
                    top: "50px",
                    close: "закрыть"
                });
            })
        </script>
    </body>
</html>
