@{
    Layout = "./_BaseLayout.cshtml";
}

@section HeadCss
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/font-awesome/css/font-awesome.min.css")" />
    @Styles.Render("~/bundles/layout")

    @RenderSection("Header", false)
    @Scripts.Render("~/bundles/modernizr")
}

<div class="layout-body">
    @RenderBody()
</div>

@section FooterScripts
    {
    @Scripts.Render("~/bundles/js/base-libraries")
    @RenderSection("FooterScripts", false)

    <script>
        $(function () {
            $(".colorbox-link").colorbox({
                iframe: false,
                scrolling: false,
                returnFocus: false,
                top: "50px",
                close: "закрыть"
            });
        })
    </script>
}