@model SKBKontur.Treller.WebApplication.Blocks.TaskList.ViewModels.CardListItemViewModel

<span>@string.Join(",", Model.Labels.Select(x => x.Name))</span>
@Html.ActionLink(@Model.CardName, "GetDetalization", "Tasks", new RouteValueDictionary{{"cardId", Model.CardId}}, new Dictionary<string, object>()) 
<a href="@Model.CardUrl">-> посмотреть в Trello</a>
<br/>
<span>@Model.StageInfo.  Назначенные: @string.Join(",", Model.Avatars.Select(x => x.UserFullName))</span>
<br/>