@using SKBKontur.Treller.WebApplication.Implementation.Infrastructure.Extensions
@using SKBKontur.Treller.WebApplication.Implementation.TaskDetalization.BusinessObjects.Models
@model SKBKontur.Treller.WebApplication.Implementation.Statistics.StatisticsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Styles.Render("~/bundles/css/News")
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    
    @using (Html.BeginForm("Index", "Statistics", FormMethod.Post))
    {
        @Html.TextBox("calculateDate", "01.09.2015", new { placeholder = "Старт сбора статистики", title = "Старт сбора статистики", @class = "news_actualize_text_area" })
        @Html.TextBox("calculateEndDate", "31.10.2015", new { placeholder = "Конец сбора статистики", title = "Конец сбора статистики", @class = "news_actualize_text_area" })
        <input type="submit" value="Пересчитать с этой даты" class="news__button news_actualize_button" />
    }
    <h4>Период сбора: @Model.StatisticsStartTime.ToString("dd.MM.yyyy") - @Model.StatisticsFinishTime.ToString("dd.MM.yyyy")</h4>
    <div>
        <h2>Общее</h2>
        <h3>Количество: @Model.Overall.Count</h3>
        <h3>Среднее время до релиза (без выходных): @Model.Overall.AverageReleaseDays.ToString("F4")</h3>
        <h3>Медиана до релиза (без выходных): @Model.Overall.MedianReleaseTime</h3>
        @foreach (var statePair in (Model.Overall.PeriodStates ?? new Dictionary<CardState, int>()))
        {
            <h3>Количество карточек в состоянии @statePair.Key.GetDescription(): @statePair.Value</h3>
        }
        <h4>Среднее время в аналитике (без выходных): @Model.Overall.AverageAnalyticDays.ToString("F4")</h4>
        <h4>Среднее время в разработке (без выходных): @Model.Overall.AverageDevelopDays.ToString("F4")</h4>
        <h4>Среднее время в тестировании (без выходных): @Model.Overall.AverageTestingDays.ToString("F4")</h4>
        <h5>Суммарное время до релиза (без выходных): @Model.Overall.ReleaseTimeSummary</h5>
        <h5>Суммарное время в аналитике (без выходных): @Model.Overall.AnalyticTimeSummary</h5>
        <h5>Суммарное время в разработке (без выходных): @Model.Overall.DevelopTimeSummary</h5>
        <h5>Суммарное время в тестировании (без выходных): @Model.Overall.TestingTimeSummary</h5>
        <h5>Самая долгая задача (без выходных): @Model.Overall.MaxReleaseTime</h5>
        <h5>Самая быстрая задача (без выходных): @Model.Overall.MinReleaseTime</h5>
    </div>

    <div>
        <h2>FeatureTeams</h2>
        <h3>Количество: @Model.FeatureTeamCardStatistics.Count</h3>
        <h3>Среднее время до релиза (без выходных): @Model.FeatureTeamCardStatistics.AverageReleaseDays.ToString("F4")</h3>
        <h3>Медиана до релиза (без выходных): @Model.FeatureTeamCardStatistics.MedianReleaseTime</h3>
        <h6>Среднее время в аналитике (без выходных): @Model.FeatureTeamCardStatistics.AverageAnalyticDays.ToString("F4")</h6>
        <h6>Среднее время в разработке (без выходных): @Model.FeatureTeamCardStatistics.AverageDevelopDays.ToString("F4")</h6>
        <h6>Среднее время в тестировании (без выходных): @Model.FeatureTeamCardStatistics.AverageTestingDays.ToString("F4")</h6>
        <h6>Суммарное время до релиза (без выходных): @Model.FeatureTeamCardStatistics.ReleaseTimeSummary</h6>
        <h6>Суммарное время в аналитике (без выходных): @Model.FeatureTeamCardStatistics.AnalyticTimeSummary</h6>
        <h6>Суммарное время в разработке (без выходных): @Model.FeatureTeamCardStatistics.DevelopTimeSummary</h6>
        <h6>Суммарное время в тестировании (без выходных): @Model.FeatureTeamCardStatistics.TestingTimeSummary</h6>
        <h6>Самая долгая задача (без выходных): @Model.FeatureTeamCardStatistics.MaxReleaseTime</h6>
        <h6>Самая быстрая задача (без выходных): @Model.FeatureTeamCardStatistics.MinReleaseTime</h6>
    </div>
    <div>
        <h2>ServiceTeam</h2>
        <h3>Количество: @Model.ServiceTeamCardStatistics.Count</h3>
        <h3>Среднее время до релиза (без выходных): @Model.ServiceTeamCardStatistics.AverageReleaseDays.ToString("F4")</h3>
        <h3>Медиана до релиза (без выходных): @Model.ServiceTeamCardStatistics.MedianReleaseTime</h3>
        <h6>Среднее время в аналитике (без выходных): @Model.ServiceTeamCardStatistics.AverageAnalyticDays.ToString("F4")</h6>
        <h6>Среднее время в разработке (без выходных): @Model.ServiceTeamCardStatistics.AverageDevelopDays.ToString("F4")</h6>
        <h6>Среднее время в тестировании (без выходных): @Model.ServiceTeamCardStatistics.AverageTestingDays.ToString("F4")</h6>
        <h6>Суммарное время до релиза (без выходных): @Model.ServiceTeamCardStatistics.ReleaseTimeSummary</h6>
        <h6>Суммарное время в аналитике (без выходных): @Model.ServiceTeamCardStatistics.AnalyticTimeSummary</h6>
        <h6>Суммарное время в разработке (без выходных): @Model.ServiceTeamCardStatistics.DevelopTimeSummary</h6>
        <h6>Суммарное время в тестировании (без выходных): @Model.ServiceTeamCardStatistics.TestingTimeSummary</h6>
        <h6>Самая долгая задача (без выходных): @Model.ServiceTeamCardStatistics.MaxReleaseTime</h6>
        <h6>Самая быстрая задача (без выходных): @Model.ServiceTeamCardStatistics.MinReleaseTime</h6>
    </div>
</div>
</body>
</html>