@model SKBKontur.Treller.WebApplication.Controllers.NewsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Styles.Render("~/bundles/css/News")
}

<div class="news-content">
    <span class="news-block header">
        Добро пожаловать в Billing Times
    </span>

    @if (Model.TaskNews == null || Model.TaskNews.Length == 0)
    {
        <div class="news-block">
            Нет новостей для отправки
        </div>
    }
    else
    {
        <div class="news-block">
            <div class="news-block__header clearfix">
                <span class="news-block__column title">Заголовок</span>
                <span class="news-block__column date">Не доставлять до</span>
                <span class="news-block__column action">Действия</span>
            </div>

            @foreach (var taskNew in Model.TaskNews)
            {
                <div class="news-block__row clearfix fitrow" title="@taskNew.Hint">
                    <span class="news-block__column title" title="@taskNew.Hint">@taskNew.Content.Title</span>
                    <span class="news-block__column date">@taskNew.DoNotDeliverUntilStr</span>
                    <span class="news-block__column action">@Html.ActionLink("Подробная информация", "GoToDetails", new RouteValueDictionary { { "taskId", taskNew.TaskId } })</span>
                    @Html.TextBox("taskId", taskNew.TaskId, new { @class = "news_hidden" });
                </div>
            }
        </div>
    }
</div>