@using System.Linq
@model SKBKontur.Treller.WebApplication.Services.News.NewsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Styles.Render("~/bundles/css/News")
}

<div class="news-content">
    <span class="news-block header">
        Новости о технических и бизнес-релизах Контур.Биллинг
        <a class="news__button news_actualize_button" href="@Url.Action("ActualizeNews", "News")">
            Актуализировать
        </a>
    </span>
    

    @if (Model.TechnicalNews.Any(x => x.Key >= DateTime.Now.Date && !x.Value.IsPublished && !x.Value.IsDeleted))
    {
        <h3>Технические новости</h3>

        <div class="news-block">
            <div class="news-block__header clearfix">
                <span class="news-block__column title">Заголовок</span>
                <span class="news-block__column date">Дата</span>
                <span class="news-block__column action">Действия</span>
                <span class="news-block__column action"></span>
            </div>

            @foreach (var newsByDate in Model.TechnicalNews.Where(x => x.Key >= DateTime.Now.Date && !x.Value.IsPublished).OrderBy(x => x.Key))
            {
                <div class="news-block__row clearfix" title="@newsByDate.Value.NewsText">
                    <span class="news-block__column title">@newsByDate.Value.NewsHeader</span>
                    <span class="news-block__column date">@newsByDate.Value.ReleaseDate.ToString("dd.MM.yyyy")</span>
                    <span class="news-block__column action">
                        <a class="news__button" href="@Url.Action("SendNews", "News", new {id = newsByDate.Value.Id})">
                            Опубликовать
                        </a>
                    </span>
                    <span class="news-block__column action2">
                        <a class="news__button" href="@Url.Action("DeleteNews", "News", new {id = newsByDate.Value.Id})">
                            Удалить
                        </a>
                    </span>
                </div>
            }
        </div>
    }

    @if (Model.News.Any(x => x.Key >= DateTime.Now.Date && !x.Value.IsPublished && !x.Value.IsDeleted))
    {
        <h3>Бизнес новости</h3>

        <div class="news-block">
            <div class="news-block__header clearfix">
                <span class="news-block__column title">Заголовок</span>
                <span class="news-block__column date">Дата</span>
                <span class="news-block__column action">Действия</span>
                <span class="news-block__column action"></span>
            </div>

            @foreach (var newsByDate in Model.News.Where(x => x.Key >= DateTime.Now.Date && !x.Value.IsPublished).OrderBy(x => x.Key))
            {
                <div class="news-block__row clearfix" title="@newsByDate.Value.NewsText">
                    <span class="news-block__column title">@newsByDate.Value.NewsHeader</span>
                    <span class="news-block__column date">@newsByDate.Value.ReleaseDate.ToString("dd.MM.yyyy")</span>
                    <span class="news-block__column action">
                        <a class="news__button" href="@Url.Action("SendNews", "News", new {id = newsByDate.Value.Id})">
                            Опубликовать
                        </a>
                    </span>
                    <span class="news-block__column action2">
                        <a class="news__button" href="@Url.Action("DeleteNews", "News", new {id = newsByDate.Value.Id})">
                            Удалить
                        </a>
                    </span>
                </div>
            }
        </div>
    }

    <h3>Отправленные новости (неактуальные)</h3>

    <div class="news-block">
        <div class="news-block__header clearfix">
            <span class="news-block__column title">Заголовок</span>
            <span class="news-block__column date">Дата</span>
            <span class="news-block__column isPublished">Опубликована</span>
            <span class="news-block__column isPublished">Удалена</span>
        </div>

        @foreach (var newsByDate in (Model.News.Union(Model.TechnicalNews)).Where(x => x.Key < DateTime.Now.Date || x.Value.IsPublished || x.Value.IsDeleted).OrderBy(x => x.Key))
        {
            <div class="news-block__row clearfix" title="@newsByDate.Value.NewsText">
                <span class="news-block__column title">@newsByDate.Value.NewsHeader</span>
                <span class="news-block__column date">@newsByDate.Value.ReleaseDate.ToString("dd.MM.yyyy")</span>
                <span class="news-block__column isPublished">@(newsByDate.Value.IsPublished ? "Да" : "Нет")</span>
                <span class="news-block__column isPublished">@(newsByDate.Value.IsDeleted ? "Да" : "Нет")</span>
            </div>
        }
    </div>
</div>