@model SKBKontur.Treller.WebApplication.Controllers.NewsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Styles.Render("~/bundles/css/News")
}

<div class="news-content">
    <span class="news-block header">
        Новости о релизах Контур.Биллинг
    </span>

    <h3>Новости</h3>

    @if (Model.TaskNews == null || Model.TaskNews.Length == 0)
    {
        <div class="news-block">
            Нет новостей для отправки
        </div>
    }
    else
    {
        <div class="news-block">
            <div class="news-block__header clearfix">
                <span class="news-block__column title">Заголовок</span>
                <span class="news-block__column date">Не доставлять до</span>
                <span class="news-block__column action">Действия</span>
            </div>

            @foreach (var taskNew in Model.TaskNews)
            {
                <div class="news-block__row clearfix fitrow" title="@taskNew.Text">
                    <span class="news-block__column title" title="@taskNew.Text">@taskNew.Title</span>
                    <span class="news-block__column date">@taskNew.DoNotDeliverUntilStr</span>
                    <span class="news-block__column action">
                        @using (Html.BeginForm("Deliver", "News", FormMethod.Post))
                        {
                            @Html.TextBox("taskId", taskNew.TaskId, new { @class = "news_hidden" });
                            <input id="@taskNew.TaskId" type="submit" value="Доставить" class="news__button news_actualize_button" />
                        }
                    </span>
                </div>
            }
        </div>
    }
</div>