@model WebApplication.Implementation.Services.News.NewsFeed.TaskNewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Styles.Render("~/bundles/css/News")
}

<div class="news-content">
    <span class="news-block header">
        @Model.Content.Title
    </span>

    <div class="news-block">
        <h3>Собранная информация</h3>
        <div class="clearfix">
            @if (!string.IsNullOrEmpty(Model.Content.Motivation))
            {
                <div class="title"><b>Мотивация:</b>@Model.Content.Motivation</div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Analytics))
            {
                <div class="title"><b>Аналитика:</b>@Model.Content.Analytics</div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Branch))
            {
                <div class="title"><b>Ветка:</b>@Model.Content.Branch</div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.TechInfo))
            {
                <div class="title"><b>Техническая новость:</b>@Model.Content.TechInfo</div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.PubicInfo))
            {
                <div class="title"><b>Публичная новость:</b>@Model.Content.PubicInfo</div>
            }
        </div>
        
        <h3>Отчеты</h3>
        @foreach (var report in Model.Reports)
        {
            <div class="clearfix fitrow">
                <div class="title">Отчет для @report.PublishStrategy</div>
                <div class="title">@report.Title</div>
                <div class="title">@report.Message</div>
                <div class="title">Не доставлять до: @report.DoNotDeliverUntilStr</div>
                <div class="title">Дата доставки: @report.PublishDateStr</div>
                <div class="action">
                    @using (Html.BeginForm("Publish", "News", FormMethod.Post))
                    {
                        @Html.TextBox("taskId", Model.TaskId, new {@class = "news_hidden"})
                        ;
                        @Html.TextBox("publishStrategy", report.PublishStrategy, new {@class = "news_hidden"})
                        ;
                        <input id="@Model.TaskId" type="submit" value="Опубликовать" class="news__button news_actualize_button"/>
                    }
                </div>
            </div>
        }
    </div>
</div>