@using SKBKontur.Infrastructure.CommonExtenssions
@model SKBKontur.Treller.WebApplication.Fan.Activities.EventViewModel

@{
    ViewBag.Title = "Выезды";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.EventName</h2>
<h3>Расписание</h3>

<style type="text/css">
    td, th {
        padding-right: 40px;
        padding-top: 2px;
    }

</style>

<table style="font-size: 18px; padding-right: 10px;">
    
    @foreach (var day in Model.ActivitiesByDate)
    {
        <tr>
            <th></th>
            <th><h4>@day.Key.ToString("D")</h4></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Время</th>
            <th>Активность</th>
            <th>Проводит</th>
            <th>Формат</th>
        </tr>
        foreach (var activity in day.Value)
        {
            if (activity.IsSimpleActivity)
            {
                <tr>
                    <td>@activity.FirstItem.ScheduleTime</td>
                    <td><a title="@activity.Description">@activity.Name</a></td>
                    <td>@activity.FirstItem.LeadingName</td>
                    <td>@activity.FirstItem.Format.GetEnumDescription()</td>
                </tr>
            }
            else
            {
                <tr>
                    <td><h4><a title="@activity.Description">@activity.Name</a></h4></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                foreach (var activityItem in activity.Items)
                {
                    <tr>
                        <td style="padding-left: 20px;">@activityItem.ScheduleTime</td>
                        <td><a title="@activityItem.Description">@activityItem.Name</a></td>
                        <td>@activityItem.LeadingName</td>
                        <td>@activityItem.Format.GetEnumDescription()</td>
                    </tr>
                }
                <tr style="height: 8px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }

    }
</table>
